p{
    text-align: center;
    font-size: 25px;
    color: #FCAF58
}
h1{
    text-align: center;
    color: #FF8C42;
    font-family: 'Lemon', serif;
}

h2{
    text-align: center;
    color: #FF8C42;
    font-family: 'Lemon', serif;
}

#imag{
    text-align: center;
}

#imag img{
    border: 5px solid #54577C;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0;
}
footer{
    font-size: 10px;
    color: #FCAF58;
    background-color: #4A7B9D;
}
*{
    background-color: #dceeee;
    font-family: 'Karla', sans-serif;
}

li{
    color: #4A7B9D;
}

#link{
    text-align: center;
}